<html>


<style>
    h1 {
        color:#1578d4;
        font-family: Bahnschrift SemiBold; 
        text-align: center;
        text-shadow: 4px 4px 4px black;
        margin-top: 100px;
      }

    h3{
        color:	#20B2AA;
        font-family: Bahnschrift SemiBold; 
        font-weight: bold;
        font-size: large;
        text-align: center;
        text-shadow: 4px 4px 4px black;
        margin-bottom: 40px;

      }

    p{
        color:white; 
        font-family: Bahnschrift SemiBold; 
        margin-left: 30px;
        margin-right: 30px;
        text-align: left;
    }

    body {
        background-image: url('/wallpaper.gif');
        background-attachment: fixed;
      }
</style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Home page</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
</head>


<body>

    <h1><u>Terms and Conditions of Use and Service</u></h1>

    <h3>Usage of this site is bound by these Terms</h3>
    
    <h3><strong><u>Space Exploration is the intellectual property of Adhnan Manzis, Mohammed Sanaullah and Tanmayi.D</u></strong></h3>
    <p style= "margin-bottom: 30px;">Space Exploration  maintains this website, any courses offered and other linked and related sites (the “Site”) for the use 
        of its customers, vendors, students, and other Site users (“Users”) upon agreement to the following terms. 
        Please read the terms carefully before using the Site. Use of this website indicates acceptance of these 
        “Terms of Use” and forms a binding agreement between you and Space Exploration . If you do not agree to these terms, 
        do not use this Site.
    </p>
    
    <p>1. Use of Site<br><br>
        Space Exploration  provides various materials, information, quizzes, tests, questions, articles, news and other information 
        on this and related sites and in courses offered through this site (the “Materials”). Space Exploration  authorizes each 
        User to view and download one copy of the Materials. Materials may be downloaded and a maximum of one copy of the 
        Materials may be printed provided that Users make no modifications to the Materials and you retain all copyright 
        and other proprietary notices contained in the original Materials on any copies of the Materials. Users may not 
        modify the Materials at this Site in any way or reproduce, share or distribute them. Users will keep all Materials 
        confidential, and will not sell, auction, loan, rent, give away, describe, summarize, or otherwise reveal the 
        Materials or their contents, to any other person or entity. Any breach of these Terms of Use automatically terminates 
        your authorized use of the Site.<br><br>
    </p>
    
    <p>2. User Warranty<br><br>
        As a User you warrant that you are not an agent or employee of any other test preparation company and the Site 
        and Materials solely for your own personal career advancement or personal use.<br><br></p>
    
    <p>3. Trademark and Copyright<br><br>
        Space Exploration , and certain other brands, trademarks, and service marks are marks of Space Exploration  and its affiliates. 
        The Materials on this Site are copyrighted, and any unauthorized use of any Materials on this Site may violate 
        copyright, trademark, and other laws.<br><br>
    </p>
    
    <p>4. Hyperlinks<br><br>
        Links to external websites are provided solely as a convenience to you. Space Exploration  has not reviewed all of these 
        external websites, does not control and is not responsible for any of these sites or their content. If you decide 
        to access any of the external websites linked to this Site, you do so entirely at your own risk.<br><br>
    </p>
    
    <p>5. No Warranty<br><br>
        The Materials provided at this site are provided “as is” without any warranties of any kind including warranties 
        of merchantability, fitness for a particular purpose, or non-infringement of intellectual property. Space Exploration  further 
        does not warrant the accuracy and completeness of the Materials at this Site. Space Exploration  may make changes to the 
        Materials at this Site, or to the services and prices described in them, at any time without notice. The Materials 
        at this Site may be out of date, and Space Exploration  makes no commitment to update the Materials at this Site.<br><br>
    </p>
    
    <p>6. Limitation of Liability<br><br>
        In no event will Space Exploration , its suppliers, or other third parties mentioned at this Site be liable for any damages 
        whatsoever (including, without limitation, those resulting from lower test scores, interruption of services or 
        inaccurate information) arising out of the use, inability to use, or the results of the use of this Site, 
        any websites liked to this Site, or the Materials or information contained at any or all such sites, whether based 
        on warranty, contract, tort or any other legal theory and whether or not advised of the possibility of such damages. 
        If your use of the Materials or information from this Site results in the need for servicing, repair or correction 
        of equipment or data, you assume all costs thereof.<br><br>
    </p>
    
    <P>7. Account Termination<br><br>
        Any and all accounts may be terminated for any reason(s), at any time, at the sole discretion of the 
        administrators of this website.<br><br>
    </P>
    
    <p>8.  Applicable Law<br><br>
        The Terms of Use are governed by the laws of the Country. Failure to enforce strict performance of the 
        Terms of Use of Use shall not be construed as a waiver of any provision or right. Space Exploration  may assign its 
        rights and duties under the Terms of Use without notice to any party at any time.<br><br>
    </p>
    
    <p>9. Effective Date and Updates<br><br>
        The Terms are effective as of July 12th, 2021 and are subject to change without notice by Space Exploration  at any time. 
        Please check for changes regularly. Your use of this Site after such changes constitutes your agreement to such 
        changes.<br><br>
    </p>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <div class="container">
            <a href="/"
              style="color:	white; font-family: Bahnschrift SemiBold;text-shadow: 2px 2px 2px black;"><b>Home</b></a>
            <a href="TermsOfUse"
              style="color:	white; font-family: Bahnschrift SemiBold;text-shadow: 2px 2px 2px black;"><b>Terms of Use</b></a>
            <a href="ContactUs"
              style="color:	white; font-family: Bahnschrift SemiBold;text-shadow: 2px 2px 2px black;"><b>Contact Us</b></a>
          </div>
    </nav>
</body>

</html>